{{> spageh}}
{{> nav}}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                </div>
                            <div class="content">
                                <h4 class="title">Your sponsor is {{sponsor}}</h4><br><br>
                                <h6 class="category">Link to the registration page is <a href="{{register}}">akahlineglobalservices{{register}}</a></h6>
								<br>
								<br>
								<br>
								<div class="content table-responsive table-full-width">
                                <table class="table table-striped">
								<thead>
                                        <th>Name</th>
										<th>Email</th>
										<th>Phone Number</th>
										<th>Username</th>
										<th>Status</th>
										<th>Date of joining</th>
                                    </thead>
									{{#if referrals}}
									{{#each referrals}}
									<tr>
										<td>{{name}}</td>
										<td>{{email}}</td>
										<td>{{code}}{{phone}}</td>
										<td>{{username}}</td>
										<td>{{status}}</td>
										<td>{{date_joined}}</td>
									</tr>
									{{/each}}
									{{/if}}
									</table>
								</div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>